In [1]:
import pandas as pd

In [2]:
patch_sell='../../../sell-in.txt/sell-in.txt'
patch_productos='c:/Users/Josvaldes/Documents/Maestria/Austral/2ano/Labo3/datasets/Proyecto/Labo3/Datasets/tb_productos_descripcion.txt'
patch_stock='../../../tb_stocks.txt/tb_stocks.txt'
patch_productos_Predecir='C:/Users/Josvaldes/Documents/Maestria/Austral/2ano/Labo3/datasets/Proyecto/Labo3/Datasets/productos_a_predecir.txt'

In [3]:
sell = pd.read_csv(patch_sell, sep='\t')
productos = pd.read_csv(patch_productos, sep='\t')
stock = pd.read_csv(patch_stock, sep='\t')
productos_a_predecir = pd.read_csv(patch_productos_Predecir, sep='\t')

In [4]:
sell.head()

,periodo,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn
0,201701,10234,20524,0,2,0.05300,0.05300
1,201701,10032,20524,0,1,0.13628,0.13628
2,201701,10217,20524,0,1,0.03028,0.03028
3,201701,10125,20524,0,1,0.02271,0.02271
4,201701,10012,20524,0,11,1.54452,1.54452

In [5]:
sell.shape

(2945818, 7)

In [6]:
productos.head()

,cat1,cat2,cat3,brand,sku_size,product_id,descripcion
0,FOODS,ADEREZOS,Aji Picante,NATURA,240,20609,Salsa Aji Picante
1,FOODS,ADEREZOS,Barbacoa,NATURA,250,20266,Salsa Barbacoa
2,FOODS,ADEREZOS,Barbacoa,NATURA,400,20325,Salsa Barbacoa
3,FOODS,ADEREZOS,Barbacoa,NATURA,500,20503,Salsa Barbacoa
4,FOODS,ADEREZOS,Chimichurri,NATURA,350,20797,Chimichurri

In [7]:
productos.shape

(1251, 7)

In [8]:
stock.head()

   periodo  product_id  stock_final
0   201810       20524      1.61267
1   201810       20311      2.93657
2   201810       20654      6.83269
3   201810       21005      1.01338
4   201810       20974      0.34595

In [9]:
stock.shape

(13691, 3)

In [10]:
productos_a_predecir.head()

   product_id
0       20001
1       20002
2       20003
3       20004
4       20005

In [11]:
productos_a_predecir.shape

(780, 1)

In [12]:
# Unir los DataFrames
sell_productos = pd.merge(sell, productos, on='product_id', how='left')
sell_productos_stock = pd.merge(sell_productos, stock, on=['periodo', 'product_id'], how='left')

In [13]:
# Realizar un inner join en los productos a predecir
df_prediccion= pd.merge(sell_productos_stock, productos_a_predecir, on='product_id', how='inner')

In [14]:
df_prediccion.head()

,periodo,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,cat1,cat2,cat3,brand,sku_size,descripcion,stock_final
0,201701,10234,20524,0,2,0.05300,0.05300,HC,VAJILLA,Cristalino,Importado,500.0,Abrillantador,NaN
1,201701,10032,20524,0,1,0.13628,0.13628,HC,VAJILLA,Cristalino,Importado,500.0,Abrillantador,NaN
2,201701,10217,20524,0,1,0.03028,0.03028,HC,VAJILLA,Cristalino,Importado,500.0,Abrillantador,NaN
3,201701,10125,20524,0,1,0.02271,0.02271,HC,VAJILLA,Cristalino,Importado,500.0,Abrillantador,NaN
4,201701,10012,20524,0,11,1.54452,1.54452,HC,VAJILLA,Cristalino,Importado,500.0,Abrillantador,NaN

In [15]:
df_prediccion.shape

(2293481, 14)

In [16]:
df_prediccion.to_csv('C:/Users/Josvaldes/Documents/Maestria/Austral/2ano/Labo3/datasets/Proyecto/Labo3/Datasets/df_prediccion_all.csv', index=False)