In [29]:
import pandas as pd
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import adfuller
from pandas.plotting import autocorrelation_plot
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split


# Cargar el archivo de texto en un DataFrame
df = pd.read_csv('sell-in.txt.gz', sep='\t')

In [30]:
df.head()

,periodo,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn
0,201701,10234,20524,0,2,0.05300,0.05300
1,201701,10032,20524,0,1,0.13628,0.13628
2,201701,10217,20524,0,1,0.03028,0.03028
3,201701,10125,20524,0,1,0.02271,0.02271
4,201701,10012,20524,0,11,1.54452,1.54452

In [31]:
productos = pd.read_csv('tb_productos.txt', sep='\t')

In [5]:
productos.head()

  cat1         cat2     cat3    brand  sku_size  product_id
0   HC  ROPA LAVADO  Liquido  LIMPIEX       900       20280
1   HC  ROPA LAVADO  Liquido  LIMPIEX       450       20180
2   HC  ROPA LAVADO  Liquido  LIMPIEX       120       20332
3   HC  ROPA LAVADO  Liquido  LIMPIEX       450       20222
4   HC  ROPA LAVADO  Liquido  LIMPIEX       900       20288

In [32]:
prod_predecir= pd.read_csv('productos_a_predecir.txt', sep='\t')

In [ ]:
df_diciembre=df_diciembre.groupby('product_id')['tn'].sum().reset_index()

In [34]:
df_dic = df[(df['periodo'] == 201912)].groupby('product_id')['tn'].sum().reset_index()
prediccion1 = pd.merge(df_dic, prod_predecir, on='product_id', how='right')
prediccion1['product_id'] = prediccion1['product_id'].astype(int)
prediccion1.to_csv('prediccion1.csv', index=False)

In [ ]:
df_12m = (df[(df['periodo']>=201901) & (df['periodo']<=201912)].groupby('product_id')['tn'].sum()).reset_index()
prediccion2 = pd.merge(df_6m, predecir, on='product_id', how='right')
prediccion2['tn'] = prediccion2['tn']/12
prediccion2['product_id'] = prediccion2['product_id'].astype(int)
#prediccion1 = prediccion1[['product_id','marzo']]
prediccion2.to_csv('prediccion2.csv', index=False)